body {
    font-family: 'Nunito Sans', sans-serif ;
    font-style: normal;
    font-weight: normal;
    color: white;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: black;
}

.header-container {
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    height: 83px;
}

@media only screen and (max-device-width : 1300px) {
    .header-container {
        height: 57px;
    }
}

.logo {
    color: #E3B873;
}

@media only screen and (max-device-width : 1300px) {
    .main-menu {
        display: none;
    }
}

.main-menu__ul {
    display: flex;
    list-style: none;
}

.main-menu__ul a {
    color: white;
    text-decoration: none;
}

.main-menu__ul a:hover {
    color: #E3B873;
    text-decoration: none;
}


.main-menu__li {
    margin-right: 47px;
}

.phone-link a{
    color: #E3B873;
    text-decoration-line: underline;
}

@media only screen and (max-device-width : 1300px) {
    .phone-link a{
        color: white;
        text-decoration-line: none;
    }
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
    color: white;
}

@media only screen and (max-device-width : 1300px) {
    .button {
        border-radius: 0;
    }
}

.main-menu__button {
    width: 161px;
    height: 37px;
}

@media only screen and (max-device-width : 1300px) {
    .main-menu__button {
        display: none;
    }
}

.main-container__title {
    background-image: url(../images/main.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
    z-index: 0;
}

@media only screen and (max-device-width : 1300px) {
    .main-container__title{
        height: 476px;
        padding-top: 85px;
    }
}


.title-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.main-container__title__text {
    max-width: 1440px;
    margin: 0 auto;
}

@media only screen and (max-device-width : 1300px) {
    .main-container__title__text {
        max-width: 339px;
    }
}

.main-container__title__text h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    max-width: 560px;
}

.main-container__title__text__color {
    color: #E3B873;
}

@media only screen and (max-device-width : 1300px) {
    .main-container__title__text h1 {
        font-size: 23px;
        line-height: 31px;
    }
}

.main-container__title__text p {
    font-size: 22px;
    line-height: 36px;
    max-width: 510px;
}

@media only screen and (max-device-width : 1300px) {
    .main-container__title__text p {
        font-size: 14px;
        line-height: 19px;
    }
}

.main-container__title__text .button {
    height: 51px;
    width: 207px;
}

.main-container__button-app {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: 1px solid white;
    margin-left: 20px;
}

@media only screen and (max-device-width : 1300px) {
    .main-container__title__text .button {
        height: 51px;
        width: 100%;
        margin-top: 32px;
    }
    .main-container__button-app {
        margin-left: 0px;
        margin-top: 26px;
    }
}